<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Stubborn!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
   
</head>
<body>
<footer>
    <h2>Stubborn</h2>
    <p>Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
    <p>{{ companyInfo.contact_email }}</p>
    <p>&copy; Designed by Doucoure Kanthio</p> 
   
</footer>

</body>
</html>
